<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head}" >
    <title>edit Student</title>
</head>

<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{fragments/layout :: sidebar}"></div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div th:replace="~{fragments/layout :: navbar}"></div>

        <div class="container-fluid px-4 py-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2>Edit Student</h2>
                <a th:href="@{/students/list}" class="btn btn-secondary"><i class="bi bi-arrow-left me-1"></i> Back to
                    List</a>
            </div>

            <div class="card mb-4">
                <div class="card-header bg-white">
                    <i class="bi bi-person-plus me-1"></i> Student Details
                </div>
                <div class="card-body">
                    <form th:action="@{/students/{id}/update(id = ${studentDTO.id})}" method="post" th:object="${studentDTO}">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="firstName" class="form-label">First Name</label>
                                <!--th:classappend -> this part to make input glow red when there is a field error.-->
                                <input type="text" class="form-control" id="firstName"
                                       th:field="*{firstName}"
                                       th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : ''"
                                       placeholder="e.g. John"
                                >
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('firstName')}"
                                     th:errors="*{firstName}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastName"
                                       th:field="*{lastName}"
                                       th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : ''"
                                       placeholder="e.g. Doe"
                                >
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('lastName')}"
                                     th:errors="*{lastName}">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="email" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="email"
                                       th:field="*{email}"
                                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                       placeholder="e.g. john.doe@example.com" >

                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('email')}"
                                     th:errors="*{email}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="phone" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" id="phone"
                                       th:field="*{phoneNumber}"
                                       th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid' : ''"
                                       placeholder="e.g. +1 234 567 8900">
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('phoneNumber')}"
                                     th:errors="*{phoneNumber}">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Address</label>
                            <textarea th:field="*{address}"
                                      th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : ''"
                                      class="form-control" id="address" rows="3"
                                      placeholder="Enter full address..."></textarea>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('address')}"
                                 th:errors="*{address}">
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="reset" class="btn btn-light me-2">Reset</button>
                            <button type="submit" class="btn btn-primary"><i class="bi bi-save me-1"></i> Update
                                Student</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/layout :: scripts}"></div>
</body>

</html>